GLFW_ICON ICON "planet_sim.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  VALUE "CompanyName", "Omar Al Farhadi Mezumullah Muhammed Abdallah"
      VALUE "FileDescription", "PlanetSim | Planet Simulation maybe!"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "planet_sim"
      VALUE "LegalCopyright", "(c) 2024 Omar Al Farhadi Mezumullah Muhammed Abdallah"
      //VALUE "OriginalFilename", "planet_sim.exe"
      VALUE "PlanetSim", "PlanetSim"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
